.image-container {
    max-width: 100%; /* Limit the width of the container to the screen size */
    height: auto; /* Maintain the image's aspect ratio */
}
  
.image-container img {
    opacity: 10%;
    display: block; /* Ensure the image is a block element */
    max-width: 100%; /* Limit the image width to the container's width */
    height: auto; /* Maintain the image's aspect ratio */
}
  