.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
}

.navbar-logo {
    border-radius: 50%; /* Makes the image round */
    float: left; /* Makes the image float to the left */
    margin-right: 10px; /* Adds some spacing between the image and the list */
    width: 33px; /* Adjust the width as needed */
    height: 33px; /* Adjust the height as needed */
    overflow: hidden;
}

.navbar-logo img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
}