
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Cool button animation*/
.cool-button {
  position: relative;
  overflow: hidden;
}

.cool-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.75s cubic-bezier(0.25, 0.1, 0.25, 1);
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
}

.cool-button:hover:before {
  transform: translate(-50%, -50%) scale(1);
}

.cool-button:hover {
  background-color: rgb(26, 87, 125);
  transform: scale(1.05);
}
/*Cool button animation*/

/* page not found animmation */
.pagenotfound--section {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #86b2ca;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pagenotfound--container {
  text-align: center;
  color: #fff;
}

.warning-icon {
  font-size: 5rem;
  margin-bottom: 20px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.message {
  font-size: 1.2rem;
  margin: 0;
}

/* page not found animmation */

/*Crousel Section*/
.carousel-img {
  width: 100%;
  height: auto;
}

.carousel {
  width: 100%;
}
/*Carousel section ends*/

/*ContactUs section*/
.contactus--section {
  background-color: #86b2ca;
  padding: 50px;
}
.contactus--container
{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 10px;

}
/*Contact us section ends*/


/*Desktop View of Navbar*/
@media (min-width: 768px){
  
  .navbar-expand-md {
    padding: 9px 50px 0 50px;
  }

  .navbar-nav .nav-link {
    color: white !important;
    font-weight: bold !important;
  }

  .dropdown-menu {
    padding-left: 50px;
    background: transparent;
    border: none !important;
    box-shadow: none !important;
  }

  .dropdown-item {
    color: white !important;
    font-weight: bold;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: rgba(88, 88, 88, 0.6) !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Card CSS used in the App*/
.card {
  border-radius: 25px;
}

@media (max-width: 768px) {

}

/*Header Section*/
.header-container {
  background-image: url('https://images.pexels.com/photos/5841763/pexels-photo-5841763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

  /* Banner in Header Section*/
  .banner--container {
    width: 100%;
    height: 40rem;
  }
  .banner--container > text{
    padding: 189px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 10px 5px rgba(50, 50, 50, 100);
  }
  .banner--text{
    height: 200px;
  }

  /* Mobile View of Banner*/
  @media (max-width: 768px) {
    .banner--container {
      width: 100%;
      height: 20rem;
    }
    .banner--container > text{
      display: none;
    }
  }
/* Header Section Ends*/

/* AboutUs section*/

.aboutus--section{
  background-color: #86b2ca;
  padding: 50px;
}
.aboutus--card--image{
  height: 400px;
  width: 500px;
  border-radius: 25px;
}
.aboutus--image--section {
  position: relative;
  display: inline-block;
}

.aboutus--card--image {
  transition: filter 0.3s ease;
  width: 100%;
}

.aboutus--image--section:hover .aboutus--card--image {
  filter: blur(5px);
}

.aboutus--image--button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.aboutus--image--section:hover .aboutus--image--button {
  display: block;
}

.aboutus--button {
  background-color: rgb(184, 184, 184, 0.9);
  opacity: 10px;
  border: 2px solid gray;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.aboutus--content--heading{
  font-size: 32px;
  font-weight: bold;
}

/* Mobile View of AboutUS*/
@media (max-width: 768px) {

  .aboutus--card--image{
    height: 200px;
    width: 230px;
    border-radius: 25px;
  }

  .aboutus--content--heading {
    font-size: 22px;
    font-weight: bold;
    padding-top: 5px;
  }
}
/* About us Section Ends*/

/* Footer Section Starts */
.Footer--Icons a {
  transition: transform 0.3s ease-in-out;
  size:1rem;
}

.Footer--Icons a:hover {
  transform: scale(8.2);
}
.Footer--Container{
  padding: 0px 10px 10px 10px;
}
/* Footer Section Ends */