
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Crousel Section*/
.carousel-img {
  width: 100%;
  height: auto;
}

.carousel {
  width: 100%;
}

/*ContactUs section*/
.contactus--section {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 10px;
}


/*Desktop View*/
@media (min-width: 768px){
  
  .navbar-expand-md {
    padding: 15px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Card Css used in the App*/
.card {
  width: 50rem;
  align-items: center;
}

@media (max-width: 768px) {
  .card {
    width: 20rem;
  }
}

/* Banner Section */
.banner {
  background-image: url('https://images.pexels.com/photos/5841763/pexels-photo-5841763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}